<app-top-bar></app-top-bar>
<div class="container"><br><br>
    <h3 class="font-weight-bold">Delivery Address</h3>
    <p class="small">When finished, click the "Ship to this address" button to proceed with your order </p>
<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
        <div>    
        <label class="small font-weight-bold">
          Full Name
          <input type="text" id="name" style="width: 500px;" class="form-control" 
          formControlName="name">
        <span *ngIf="addressForm.get('name').errors
               && (addressForm.get('name').touched || addressForm.get('name').dirty)" 
               style="color: rgb(255, 22, 22); font-size: 11px;">
                *This field is required
        </span>
      </label>
        </div>
        <div>
        <label class="small font-weight-bold">
          Pin Code:
          <input type="text" id="pin" style="width: 500px;"  class="form-control"
           formControlName="pin" >
         <span *ngIf="addressForm.get('pin').errors
           && (addressForm.get('pin').touched || addressForm.get('pin').dirty)" 
           style="color: rgb(255, 22, 22); font-size: 11px;">
            *This field is required
        </span>
        </label>
        </div>
         <div>
        <label class="small font-weight-bold">
          Flat, House no., Building, Apartment, Company:
       <input type="text" id="flat" style="width: 500px;" class="form-control"
           formControlName="flat">
        <span *ngIf="addressForm.get('flat').errors
           && (addressForm.get('flat').touched || addressForm.get('flat').dirty)" 
           style="color: rgb(255, 22, 22); font-size: 11px;">
            *This field is required
        </span>
        </label>
        </div>
        <div>
        <label class="small font-weight-bold">
            Area, Colony, Street, Sector, Village:
         <input type="text" id="area" style="width: 500px;" class="form-control"
             formControlName="area">
           <span *ngIf="addressForm.get('area').errors
             && (addressForm.get('area').touched || addressForm.get('area').dirty)" 
             style="color: rgb(255, 22, 22); font-size: 11px;">
              *This field is required
          </span>
        </label>
        </div>
        <div>
       <label class="small font-weight-bold">
            City & State:
        <input type="text" id="city" style="width: 500px;" class="form-control"
          formControlName="city">
         <span *ngIf="addressForm.get('city').errors
          && (addressForm.get('city').touched || addressForm.get('city').dirty)" 
          style="color: rgb(255, 22, 22); font-size: 11px;">
           *This field is required
        </span>
         </label>
        </div>
        <br>
        <button type="submit"  style="background-color: dodgerblue;
        display: inline; color: rgb(255, 255, 255);"  
        class="btn btn-secondary" [disabled]="!addressForm.valid">Ship to this Address</button>
      </form>  
    
</div>