<app-top-bar></app-top-bar>

<div class="container"><br><br>

    <div class="jumbotron">
        <div class="row">
            <div class="col-6">
              <h3>Ongoing Orders</h3><br>
              <p class="font-weight-bold">Order Total: {{total}}</p>
              <p class="font-weight-bold">Payment Method: Cash On Delivery</p>
            </div>
            <div  class="col-6" *ngFor="let address of userAddress">
                <h4>Delivering to this Address:</h4>
                <div class="flex">
                <p class="font-weight-bold">{{address.name}},</p>
                <p class="font-weight-bold">{{address.flat}},</p>
                <p class="font-weight-bold">{{address.area}},</p>
                <p class="font-weight-bold">{{address.city}},</p>
                <p class="font-weight-bold">{{address.pin}}.</p>
                </div>
            </div>
        </div>
        <div *ngFor="let book of orderBooks" class="row">
                <div class="col-2 text-center">
                        <hr>
                        <img [src]="book.image" class="book-image">
                  </div>

                  <div class="col-10">
                        <hr>
                        <h5 class="font-weight-bold">{{book.caption}}</h5>
                         <p class="font-weight-bold">by <i>{{book.author}}</i></p>
                        <p class="small font-weight-bold">Price {{book.price}} Rs</p>
                        <P class="small font-weight-bold">Arriving On: Sunday 23/12/2019</P>
                  </div>

        </div><br><hr><br>
            <div>
                <h4>Past Orders</h4> 
                <p class="font-weight-bold">There are no past orders as of yet!</p>
            </div>
    </div>
</div>
